@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

body {
    background-color: #eee;
    padding: 12px;
    font-size: 12px;
    color: #666;
}

.container {
    /* width:820px; */
    max-width: 820px; /* レスポンシブ用 */
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}

header {
    background-color: #e4006f;
    padding: 10px;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
}

.description {
    clear: left; /*float:left; となっている要素を解除*/
}

.description img{
    float:left;
    margin: 0 8px 8px 0;

    /* アニメーションの追加 */
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

/* アニメーション時の透明度 */
.description img:hover{
    opacity: .4;
}

.information h1 {
    float:left;
    margin: 0 8px 8px 0;
}

.information .type {
    background-color: #e4006f;
    display: inline; /* これがないと、pタグなのでその行全体に色がついてしまう。 */
    color:#fff;
    padding: 4px;
    font-size: 60%;
}

.content {
    background-color: #fff;
    padding: 20px;
}

.songs {
    margin: 0 0  20px;
}

.songs h2 {
    clear: left;
    font-weight: normal;
    margin: 0;
    background-color: #E4C0CC;
    padding: 4px 8px;
    color: #fff;
}

.songs ol {
    padding: 0;
    margin: 0;
    list-style: decimal inside; /* 行頭の箇所が数字の箇所に揃えられる */
}

.songs li {
    border-bottom: 1px solid #ccc;
    width: 50%;
    float:left;
    padding: 4px 8px;
}

/* clearfixによりcontentの高さが調整される */
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    font-size:80%;
    padding: 8px;
}


@media only screen and (max-width: 600px) {
    .description img {
        float: none;
        margin: 0 auto;
        display: block; /* 画像はinlineのため、blockにしてあげないと中央に寄らない */
    }

    header h1 {
        font-size:12px;
    }

    .songs li {
        float: none;
        width: inherit; /* 継承：親の要素の幅に合わせる */
    }
}