.container {
    text-align: center;
    margin: 40px auto;
}

#timer {
    font-size: 60px;
    background-color: #111;
    color: #fff;
    border: 1px solid #bbb;
    margin: 40px auto;
    padding: 48px;
    border-radius: 8px;
}

.btn {
    width:40%;
}